<h3>Ch'ien / The Creative</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ch_ien.png" alt="Ch'ien / The Creative" /></td>
<td><p>above</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Creative works sublime success,
<br />
Furthering through perseverance.
</p>
<h3>The Image</h3>
<p>The movement of heaven is full of power.
<br />
Thus the superior man makes himself strong and untiring.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Hidden dragon. Do not act.
</p>
<p><i>Nine in the second place means:</i>
<br />
Dragon appearing in the field.
<br />
It furthers one to see the great man.
</p>
<p><i>Nine in the third place means:</i>
<br />
All day long the superior man is creatively active.
<br />
At nightfall his mind is beset with cares.
<br />
Danger. No blame.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
Wavering flight over the depths.
<br />
No blame.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
Flying dragon in the heavens.
<br />
It furthers one to see the great man.
</p>
<p><i>Nine at the top means:</i>
<br />
Arrogant dragon will have cause to repent.
</p>
<p>When all the lines are nines, it means:
<br />
There appears a flight of dragons without heads.
<br />
Good fortune.
</p>
