<h3>Chen / The Arousing (Shock, Thunder)</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/chen.png" alt="Chen / The Arousing (Shock, Thunder)" /></td>
<td><p>above</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Shock brings success.
<br />
Shock comes--oh, oh!
<br />
Laughing words--ha, ha!
<br />
The shock terrifies for a hundred miles,
<br />
And he does not let fall the sacrificial spoon and chalice.
</p>
<h3>The Image</h3>
<p>Thunder repeated: the image of Shock.
<br />
Thus in fear and trembling
<br />
The superior man sets his life in order
<br />
And examines himself.
</p>
<h3>The Lines</h3>
<p class="mark"><i>Nine at the beginning means:</i>
<br />
Shock comes--oh, oh!
<br />
Then follow laughing words--ha, ha!
<br />
Good fortune.
</p>
<p><i>Six in the second place means:</i>
<br />
Shock comes bringing danger.
<br />
A hundred thousand times
<br />
You lose your treasures
<br />
And must climb the nine hills.
<br />
Do not go in pursuit of them.
<br />
After seven days you will get them back.
</p>
<p><i>Six in the third place means:</i>
<br />
Shock comes and makes one distraught.
<br />
If shock spurs to action
<br />
One remains free of misfortune.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
Shock is mired.
</p>
<p><i>Six in the fifth place means:</i>
<br />
Shock goes hither and thither.
<br />
Danger.
<br />
However, nothing at all is lost.
<br />
Yet there are things to be done.
</p>
<p><i>Six at the top means:</i>
<br />
Shock brings ruin and terrified gazing around.
<br />
Going ahead brings misfortune.
<br />
If it has not yet touched one's own body
<br />
But has reached one's neighbor first,
<br />
There is no blame.
<br />
One's comrades have something to talk about.
</p>
