<h3>Chi Chi / After Completion</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/chi_chi.png" alt="Chi Chi / After Completion" /></td>
<td><p>above</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>After Completion. Success in small matters.
<br />
Perseverance furthers.
<br />
At the beginning good fortune,
<br />
At the end disorder.
</p>
<h3>The Image</h3>
<p>Water over fire: the image of the condition
<br />
In After Completion.
<br />
Thus the superior man
<br />
Takes thoughts of misfortune
<br />
And arms himself against it in advance.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
He brakes his wheels.
<br />
He gets his tail in the water.
<br />
No blame.
</p>
<p class="mark"><i>Six in the second place means:</i>
<br />
The woman loses the curtain of her carriage.
<br />
Do not run after it;
<br />
On the seventh day you will get it.
</p>
<p><i>Nine in the third place means:</i>
<br />
The Illustrious Ancestor
<br />
Disciplines the Devil's Country.
<br />
After three years he conquers it.
<br />
Inferior people must not be employed.
</p>
<p><i>Six in the fourth place means:</i>
<br />
The finest clothes turn to rags.
<br />
Be careful all day long.
</p>
<p><i>Nine in the fifth place means:</i>
<br />
The neighbor in the east who slaughters an ox
<br />
Does not attain as much real happiness
<br />
As the neighbor in the west
<br />
With his small offering.
</p>
<p><i>Six at the top means:</i>
<br />
He gets his head in the water. Danger.
</p>
