<h3>Chieh / Limitation</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/chieh.png" alt="Chieh / Limitation" /></td>
<td><p>above</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Limitation. Success.
<br />
Galling limitation must not be persevered in.
</p>
<h3>The Image</h3>
<p>Water over Lake: the image of Limitation.
<br />
Thus the superior man
<br />
Creates numbers and measure,
<br />
And examines the nature of virtue and correct conduct.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Not going out of the door and the courtyard
<br />
Is without blame.
</p>
<p><i>Nine in the second place means:</i>
<br />
Not going out of the gate and the courtyard
<br />
Brings misfortune.
</p>
<p><i>Six in the third place means:</i>
<br />
He who knows no limitation
<br />
Will have cause to lament.
<br />
No blame.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Contented limitation. Success.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
Sweet limitation brings good fortune.
<br />
Going brings esteem.
</p>
<p><i>Six at the top means:</i>
<br />
Galling limitation.
<br />
Perseverance brings misfortune.
<br />
Remorse disappears.
</p>
