<h3>Ching / The Well</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ching.png" alt="Ching / The Well" /></td>
<td><p>above</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Sun    The Gentle, Wind</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Well. The town may be changed,
<br />
But the well cannot be changed.
<br />
It neither decreases nor increases.
<br />
They come and go and draw from the well.
<br />
If one gets down almost to the water
<br />
And the rope does not go all the way,
<br />
Or the jug breaks, it brings misfortune.
</p>
<h3>The Image</h3>
<p>Water over wood: the image of The Well.
<br />
Thus the superior man encourages the people at their work,
<br />
And exhorts them to help one another.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
One does not drink the mud of the well.
<br />
No animals come to an old well.
</p>
<p><i>Nine in the second place means:</i>
<br />
At the well hole one shoots fishes.
<br />
The jug is broken and leaks.
</p>
<p><i>Nine in the third place means:</i>
<br />
The well is cleaned, but no one drinks from it.
<br />
This is my heart's sorrow,
<br />
For one might draw from it.
<br />
If the king were clear-minded,
<br />
Good fortune might be enjoyed in common.
</p>
<p><i>Six in the fourth place means:</i>
<br />
The well is being lined. No blame.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
In the well there is a clear, cold spring
<br />
From which one can drink.
</p>
<p><i>Six at the top means:</i>
<br />
One draws from the well
<br />
Without hindrance.
<br />
It is dependable.
<br />
Supreme good fortune.
</p>
