<h3>Chung Fu / Inner Truth</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/chung_fu.png" alt="Chung Fu / Inner Truth" /></td>
<td><p>above</p></td>
<td><p>Sun    The Gentle, Wind</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Inner Truth. Pigs and fishes.
<br />
Good fortune.
<br />
It furthers one to cross the great water.
<br />
Perseverance furthers.
</p>
<h3>The Image</h3>
<p>Wind over lake: the image of Inner Truth.
<br />
Thus the superior man discusses criminal cases
<br />
In order to delay executions.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Being prepared brings good fortune.
<br />
If there are secret designs, it is disquieting.
</p>
<p><i>Nine in the second place means:</i>
<br />
A crane is calling in the shade.
<br />
Its young answers it.
<br />
I have a good goblet.
<br />
I will share it with you.
</p>
<p class="mark"><i>Six in the third place means:</i>
<br />
He finds a comrade.
<br />
Now he beats the drum, now he stops.
<br />
Now he sobs, now he sings.
</p>
<p class="mark"><i>Six in the fourth place means:</i>
<br />
The moon nearly at the full.
<br />
The team horse goes astray.
<br />
No blame.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
He possesses truth, which links together.
<br />
No blame.
</p>
<p><i>Nine at the top means:</i>
<br />
Cockcrow penetrating to heaven.
<br />
Perseverance brings misfortune.
</p>
