<h3>Feng / Abundance [Fullness]</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/feng.png" alt="Feng / Abundance [Fullness]" /></td>
<td><p>above</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Abundance has success.
<br />
The king attains abundance.
<br />
Be not sad.
<br />
Be like the sun at midday.
</p>
<h3>The Image</h3>
<p>Both thunder and lightning come:
<br />
The image of Abundance.
<br />
Thus the superior man decides lawsuits
<br />
And carries out punishments.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
When a man meets his destined ruler,
<br />
They can be together ten days,
<br />
And it is not a mistake.
<br />
Going meets with recognition.
</p>
<p><i>Six in the second place means:</i>
<br />
The curtain is of such fullness
<br />
That the polestars can be seen at noon.
<br />
Through going one meets with mistrust and hate.
<br />
If one rouses him through truth,
<br />
Good fortune comes.
</p>
<p><i>Nine in the third place means:</i>
<br />
The underbrush is of such abundance
<br />
That the small stars can be seen at noon.
<br />
He breaks his right arm. No blame.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
The curtain is of such fullness
<br />
That the polestars can be seen at noon.
<br />
He meets his ruler, who is of like kind.
<br />
Good fortune.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Lines are coming,
<br />
Blessing and fame draw near.
<br />
Good fortune.
</p>
<p><i>Six at the top means:</i>
<br />
His house is in a state of abundance.
<br />
He screens off his family.
<br />
He peers through the gate
<br />
And no longer perceives anyone.
<br />
For three years he sees nothing.
<br />
Misfortune.
</p>
