<h3>Fu / Return (The Turning Point)</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/fu.png" alt="Fu / Return (The Turning Point)" /></td>
<td><p>above</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Return. Success.
<br />
Going out and coming in without error.
<br />
Friends come without blame.
<br />
To and Fro goes the way.
<br />
On the seventh day comes return.
<br />
It furthers one to have somewhere to go.
</p>
<h3>The Image</h3>
<p>Thunder within the earth:
<br />
The image of The Turning Point.
<br />
Thus the kings of antiquity closed the passes
<br />
At the time of solstice.
<br />
Merchants and strangers did not go about,
<br />
And the ruler
<br />
Did not travel through the provinces.
</p>
<h3>The Lines</h3>
<p class="mark"><i>Nine at the beginning means:</i>
<br />
Return from a short distance.
<br />
No need for remorse.
<br />
Great good fortune.
</p>
<p><i>Six in the second place means:</i>
<br />
Quiet return. Good fortune.
</p>
<p><i>Six in the third place means:</i>
<br />
Repeated return. Danger. No blame.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Walking in the midst of others,
<br />
One returns alone.
</p>
<p><i>Six in the fifth place means:</i>
<br />
Noblehearted return.
<br />
No remorse.
</p>
<p><i>Six at the top means:</i>
<br />
Missing the return. Misfortune.
<br />
Misfortune from within and without.
<br />
If armies are set marching in this way,
<br />
One will in the end suffer a great defeat,
<br />
Disastrous for the ruler of the country.
<br />
For ten years
<br />
It will not be possible to attack again.
</p>
