<h3>Heng / Duration</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/heng.png" alt="Heng / Duration" /></td>
<td><p>above</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Sun    The Gentle, Wind</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Duration. Success. No blame.
<br />
Perseverance furthers.
<br />
It furthers one to have somewhere to go.
</p>
<h3>The Image</h3>
<p>Thunder and wind: the image of Duration.
<br />
Thus the superior man stands firm
<br />
And does not change his direction.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
Seeking duration too hastily brings misfortune persistently.
<br />
Nothing that would further.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
Remorse disappears.
</p>
<p><i>Nine in the third place means:</i>
<br />
He who does not give duration to his character
<br />
Meets with disgrace.
<br />
Persistent humiliation.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
No game in the field.
</p>
<p><i>Six in the fifth place means:</i>
<br />
Giving duration to one's character through perseverance.
<br />
This is good fortune for a woman, misfortune for a man.
</p>
<p><i>Six at the top means:</i>
<br />
Restlessness as an enduring condition brings misfortune.
</p>
