<h3>Hsiao Ch'u / The Taming Power of the Small</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/hsiao_ch_u.png" alt="Hsiao Ch'u / The Taming Power of the Small" /></td>
<td><p>above</p></td>
<td><p>Sun    The Gentle, Wind</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Taming Power of the Small
<br />
Has success.
<br />
Dense clouds, no rain from our western region.
</p>
<h3>The Image</h3>
<p>The wind drives across heaven:
<br />
The image of The Taming Power of the Small.
<br />
Thus the superior man
<br />
Refines the outward aspect of his nature.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Return to the way.
<br />
How could there be blame in this?
<br />
Good fortune.
</p>
<p><i>Nine in the second place means:</i>
<br />
He allows himself to be drawn into returning.
<br />
Good fortune.
</p>
<p><i>Nine in the third place means:</i>
<br />
The spokes burst out of the wagon wheel.
<br />
Man and wife roll their eyes.
</p>
<p class="mark"><i>Six in the fourth place means:</i>
<br />
If you are sincere, blood vanishes and fear gives way.
<br />
No blame.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
If you are sincere and loyally attached,
<br />
You are rich in your neighbor.
</p>
<p><i>Nine at the top means:</i>
<br />
The rain comes, there is rest.
<br />
This is due to the lasting affect of character.
<br />
Perseverance brings the woman into danger.
<br />
The moon is nearly full.
<br />
If the superior man persists,
<br />
Misfortune comes.
</p>
