<h3>Hsieh / Deliverance</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/hsieh.png" alt="Hsieh / Deliverance" /></td>
<td><p>above</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Deliverance. The southwest furthers.
<br />
If there is no longer anything where one has to go,
<br />
Return brings good fortune.
<br />
If there is still something where one has to go,
<br />
Hastening brings good fortune.
</p>
<h3>The Image</h3>
<p>Thunder and rain set in:
<br />
The image of Deliverance.
<br />
Thus the superior man pardons mistakes
<br />
And forgives misdeeds.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
Without blame.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
One kills three foxes in the field
<br />
And receives a yellow arrow.
<br />
Perseverance brings good fortune.
</p>
<p><i>Six in the third place means:</i>
<br />
If a man carries a burden on his back
<br />
And nonetheless rides in a carriage,
<br />
He thereby encourages robbers to draw near.
<br />
Perseverance leads to humiliation.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
Deliver yourself from your great toe.
<br />
Then the companion comes,
<br />
And him you can trust.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
If only the superior man can deliver himself,
<br />
It brings good fortune.
<br />
Thus he proves to inferior men that he is in earnest.
</p>
<p><i>Six at the top means:</i>
<br />
The prince shoots at a hawk on a high wall.
<br />
He kills it. Everything serves to further.
</p>
