<h3>I / The Corners of the Mouth (Providing Nourishment)</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/i.png" alt="I / The Corners of the Mouth (Providing Nourishment)" /></td>
<td><p>above</p></td>
<td><p>Ken    Keeping Still, Mountain</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Corners of the Mouth.
<br />
Perseverance brings good fortune.
<br />
Pay heed to the providing of nourishment.
<br />
And to what a man seeks
<br />
To fill his own mouth with.
</p>
<h3>The Image</h3>
<p>At the foot of the mountain, thunder:
<br />
The image of Providing Nourishment.
<br />
Thus the superior man is careful of his words
<br />
And temperate in eating and drinking.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
You let your magic tortoise go,
<br />
And look at me with the corners of your mouth drooping.
<br />
Misfortune.
</p>
<p><i>Six in the second place means:</i>
<br />
Turning to the summit for nourishment,
<br />
Deviating from the path
<br />
To seek nourishment from the hill.
<br />
Continuing to do this brings misfortune.
</p>
<p><i>Six in the third place means:</i>
<br />
Turning away from nourishment.
<br />
Perseverance brings misfortune.
<br />
Do not act thus for ten years.
<br />
Nothing serves to further.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Turning to the summit
<br />
For provision of nourishment
<br />
Brings good fortune.
<br />
Spying about with sharp eyes
<br />
Like a tiger with insatiable craving.
<br />
No blame.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Turning away from the path.
<br />
To remain persevering brings good fortune.
<br />
One should not cross the great water.
</p>
<p class="mark"><i>Nine at the top means:</i>
<br />
The source of nourishment.
<br />
Awareness of danger brings good fortune.
<br />
It furthers one to cross the great water.
</p>
