<h3>I / Increase</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/i_.png" alt="I / Increase" /></td>
<td><p>above</p></td>
<td><p>Sun    The Gentle, Wind</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Increase. It furthers one
<br />
To undertake something.
<br />
It furthers one to cross the great water.
</p>
<h3>The Image</h3>
<p>Wind and thunder: the image of Increase.
<br />
Thus the superior man:
<br />
If he sees good, he imitates it;
<br />
If he has faults, he rids himself of them.
</p>
<h3>The Lines</h3>
<p class="mark"><i>Nine at the beginning means:</i>
<br />
It furthers one to accomplish great deeds.
<br />
Supreme good fortune. No blame.
</p>
<p class="mark"><i>Six in the second place means:</i>
<br />
Someone does indeed increase him;
<br />
Ten pairs of tortoises cannot oppose it.
<br />
Constant perseverance brings good fortune.
<br />
The king presents him before God.
<br />
Good fortune.
</p>
<p><i>Six in the third place means:</i>
<br />
One is enriched through unfortunate events.
<br />
No blame, if you are sincere
<br />
And walk in the middle,
<br />
And report with a seal to the prince.
</p>
<p class="mark"><i>Six in the fourth place means:</i>
<br />
If you walk in the middle
<br />
And report to the prince,
<br />
He will follow.
<br />
It furthers one to be used
<br />
In the removal of the capital.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
If in truth you have a kind heart, ask not.
<br />
Supreme good fortune.
<br />
Truly, kindness will be recognized as your virtue.
</p>
<p><i>Nine at the top means:</i>
<br />
He brings increase to no one.
<br />
Indeed, someone even strikes him.
<br />
He does not keep his heart constantly steady.
<br />
Misfortune.
</p>
