<h3>K'uei / Opposition</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/k_uei.png" alt="K'uei / Opposition" /></td>
<td><p>above</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Opposition. In small matters, good fortune.
</p>
<h3>The Image</h3>
<p>Above fire; below, the lake:
<br />
The image of Opposition.
<br />
Thus amid all fellowship
<br />
The superior man retains his individuality.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Remorse disappears.
<br />
If you lose your horse, do not run after it;
<br />
It will come back of its own accord.
<br />
When you see evil people,
<br />
Guard yourself against mistakes.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
One meets his lord in a narrow street.
<br />
No blame.
</p>
<p><i>Six in the third place means:</i>
<br />
One sees the wagon dragged back,
<br />
The oxen halted,
<br />
A man's hair and nose cut off.
<br />
Not a good beginning, but a good end.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
Isolated through opposition,
<br />
One meets a like-minded man
<br />
With whom one can associate in good faith.
<br />
Despite the danger, no blame.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Remorse disappears.
<br />
The companion bites his way through the wrappings.
<br />
If one goes to him,
<br />
How could it be a mistake?
</p>
<p><i>Nine at the top means:</i>
<br />
Isolated through opposition,
<br />
One sees one's companion as a pig covered with dirt,
<br />
As a wagon full of devils.
<br />
First one draws a bow against him,
<br />
Then one lays the bow aside.
<br />
He is not a robber; he will woo at the right time.
<br />
As one goes, rain falls; then good fortune comes.
</p>
