<h3>K'un / The Receptive</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/k_un.png" alt="K'un / The Receptive" /></td>
<td><p>above</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Receptive brings about sublime success,
<br />
Furthering through the perseverance of a mare.
<br />
If the superior man undertakes something and tries to lead,
<br />
He goes astray;
<br />
But if he follows, he finds guidance.
<br />
It is favorable to find friends in the west and south,
<br />
To forego friends in the east and north.
<br />
Quiet perseverance brings good fortune.
</p>
<h3>The Image</h3>
<p>The earth's condition is receptive devotion.
<br />
Thus the superior man who has breadth of character
<br />
Carries the outer world.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
When there is hoarfrost underfoot,
<br />
Solid ice is not far off.
</p>
<p class="mark"><i>Six in the second place means:</i>
<br />
Straight, square, great.
<br />
Without purpose,
<br />
Yet nothing remains unfurthered.
</p>
<p><i>Six in the third place means:</i>
<br />
Hidden lines.
<br />
One is able to remain persevering.
<br />
If by chance you are in the service of a king,
<br />
Seek not works, but bring to completion.
</p>
<p><i>Six in the fourth place means:</i>
<br />
A tied-up sack. No blame, no praise.
</p>
<p><i>Six in the fifth place means:</i>
<br />
A yellow lower garment brings supreme good fortune.
</p>
<p><i>Six at the top means:</i>
<br />
Dragons fight in the meadow.
<br />
Their blood is black and yellow.
</p>
<p>When all the lines are sixes, it means:
<br />
Lasting perseverance furthers.
</p>
