<h3>K'un / Oppression (Exhaustion)</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/k_un_.png" alt="K'un / Oppression (Exhaustion)" /></td>
<td><p>above</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Oppression. Success. Perseverance.
<br />
The great man brings about good fortune.
<br />
No blame.
<br />
When one has something to say,
<br />
It is not believed.
</p>
<h3>The Image</h3>
<p>There is no water in the lake:
<br />
The image of Exhaustion.
<br />
Thus the superior man stakes his life
<br />
On following his will.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
One sits oppressed under a bare tree
<br />
And strays into a gloomy valley.
<br />
For three years one sees nothing.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
One is oppressed while at meat and drink.
<br />
The man with the scarlet knee bands is just coming.
<br />
It furthers one to offer sacrifice.
<br />
To set forth brings misfortune.
<br />
No blame.
</p>
<p><i>Six in the third place means:</i>
<br />
A man permits himself to be oppressed by stone,
<br />
And leans on thorns and thistles.
<br />
He enters his house and does not see his wife.
<br />
Misfortune.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
He comes very quietly, oppressed in a golden carriage.
<br />
Humiliation, but the end is reached.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
His nose and feet are cut off.
<br />
Oppression at the hands of the man with the purple knee bands.
<br />
Joy comes softly.
<br />
It furthers one to make offerings and libations.
</p>
<p><i>Six at the top means:</i>
<br />
He is oppressed by creeping vines.
<br />
He moves uncertainly and says, "Movement brings remorse."
<br />
If one feels remorse over this and makes a start,
<br />
Good fortune comes.
</p>
