<h3>Ken / Keeping Still, Mountain</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ken.png" alt="Ken / Keeping Still, Mountain" /></td>
<td><p>above</p></td>
<td><p>Ken    Keeping Still, Mountain</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Ken    Keeping Still, Mountain</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Keeping Still. Keeping his back still
<br />
So that he no longer feels his body.
<br />
He goes into the courtyard
<br />
And does not see his people.
<br />
No blame.
</p>
<h3>The Image</h3>
<p>Mountains standing close together:
<br />
The image of Keeping Still.
<br />
Thus the superior man
<br />
Does not permit his thoughts
<br />
To go beyond his situation.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
Keeping his toes still.
<br />
No blame.
<br />
Continued perseverance furthers.
</p>
<p><i>Six in the second place means:</i>
<br />
Keeping his calves still.
<br />
He cannot rescue him whom he follows.
<br />
His heart is not glad.
</p>
<p><i>Nine in the third place means:</i>
<br />
Keeping his hips still.
<br />
Making his sacrum stiff.
<br />
Dangerous. The heart suffocates.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Keeping his trunk still.
<br />
No blame.
</p>
<p><i>Six in the fifth place means:</i>
<br />
Keeping his jaws still.
<br />
The words have order.
<br />
Remorse disappears.
</p>
<p class="mark"><i>Nine at the top means:</i>
<br />
Noblehearted keeping still.
<br />
Good fortune.
</p>
