<h3>Ko / Revolution (Molting)</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ko.png" alt="Ko / Revolution (Molting)" /></td>
<td><p>above</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Revolution. On your own day
<br />
You are believed.
<br />
Supreme success.
<br />
Furthering through perseverance.
<br />
Remorse disappears.
</p>
<h3>The Image</h3>
<p>Fire in the lake: the image of Revolution.
<br />
Thus the superior man
<br />
Sets the calendar in order.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Wrapped in the hide of a yellow cow.
</p>
<p><i>Six in the second place means:</i>
<br />
When one's own day comes, one may create revolution.
<br />
Starting brings good fortune. No blame.
</p>
<p><i>Nine in the third place means:</i>
<br />
Starting brings misfortune.
<br />
Perseverance brings danger.
<br />
When the talk of revolution has gone the rounds three times,
<br />
One may commit himself,
<br />
And men will believe him.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
Remorse disappears. Men believe him.
<br />
Changing the form of government brings good fortune.
</p>
<p><i>Nine in the fifth place means:</i>
<br />
The great man changes like a tiger.
<br />
Even before he questions the oracle
<br />
He is believed.
</p>
<p><i>Six at the top means:</i>
<br />
The superior man changes like a panther.
<br />
The inferior man molts in the face.
<br />
Starting brings misfortune.
<br />
To remain persevering brings good fortune.
<br />
And makes the seasons clear.
</p>
