<h3>Ku / Work on What Has Been Spoiled [Decay]</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ku.png" alt="Ku / Work on What Has Been Spoiled [Decay]" /></td>
<td><p>above</p></td>
<td><p>Ken    Keeping Still, Mountain</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Sun    The Gentle, Wind</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Work on What Has Been Spoiled
<br />
Has supreme success.
<br />
It furthers one to cross the great water.
<br />
Before the starting point, three days.
<br />
After the starting point, three days.
</p>
<h3>The Image</h3>
<p>The wind blows low on the mountain:
<br />
The image of Decay.
<br />
Thus the superior man stirs up the people
<br />
And strengthens their spirit.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
Setting right what has been spoiled by the father.
<br />
If there is a son,
<br />
No blame rests upon the departed father.
<br />
Danger. In the end good fortune.
</p>
<p><i>Nine in the second place means:</i>
<br />
Setting right what has been spoiled by the mother.
<br />
One must not be too persevering.
</p>
<p><i>Nine in the third place means:</i>
<br />
Setting right what has been spoiled by the father.
<br />
There will be little remorse. No great blame.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Tolerating what has been spoiled by the father.
<br />
In continuing one sees humiliation.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Setting right what has been spoiled by the father.
<br />
One meets with praise.
</p>
<p><i>Nine at the top means:</i>
<br />
He does not serve kings and princes,
<br />
Sets himself higher goals.
</p>
