<h3>Kuei Mei / The Marrying Maiden</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/kuei_mei.png" alt="Kuei Mei / The Marrying Maiden" /></td>
<td><p>above</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Marrying Maiden.
<br />
Undertakings bring misfortune.
<br />
Nothing that would further.
</p>
<h3>The Image</h3>
<p>Thunder over the lake:
<br />
The image of The Marrying Maiden.
<br />
Thus the superior man
<br />
Understands the transitory
<br />
In the light of the eternity of the end.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
The marrying maiden as a concubine.
<br />
A lame man who is able to tread.
<br />
Undertakings bring good fortune.
</p>
<p><i>Nine in the second place means:</i>
<br />
A one-eyed man who is able to see.
<br />
The perseverance of a solitary man furthers.
</p>
<p class="mark"><i>Six in the third place means:</i>
<br />
The marrying maiden as a slave.
<br />
She marries as a concubine.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
The marrying maiden draws out the allotted time.
<br />
A late marriage comes in due course.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
The sovereign I gave his daughter in marriage.
<br />
The embroidered garments of the princess
<br />
Were not as gorgeous
<br />
As those of the servingmaid.
<br />
The moon that is nearly full
<br />
Brings good fortune.
</p>
<p class="mark"><i>Six at the top means:</i>
<br />
The woman holds the basket, but there are no fruits in it.
<br />
The man stabs the sheep, but no blood flows.
<br />
Nothing that acts to further.
</p>
