<h3>Lin / Approach</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/lin.png" alt="Lin / Approach" /></td>
<td><p>above</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Approach has supreme success.
<br />
Perseverance furthers.
<br />
When the eighth month comes,
<br />
There will be misfortune.
</p>
<h3>The Image</h3>
<p>The earth above the lake:
<br />
The image of Approach.
<br />
Thus the superior man is inexhaustible
<br />
In his will to teach,
<br />
And without limits
<br />
In his tolerance and protection of the people.
</p>
<h3>The Lines</h3>
<p class="mark"><i>Nine at the beginning means:</i>
<br />
Joint approach.
<br />
Perseverance brings good fortune.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
Joint approach.
<br />
Good fortune.
<br />
Everything furthers.
</p>
<p><i>Six in the third place means:</i>
<br />
Comfortable approach.
<br />
Nothing that would not further.
<br />
If one is induced to grieve over it,
<br />
One becomes free of blame.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Complete approach.
<br />
No blame.
</p>
<p><i>Six in the fifth place means:</i>
<br />
Wise approach.
<br />
This is right for a great prince.
<br />
Good fortune.
</p>
<p><i>Six at the top means:</i>
<br />
Greathearted approach.
<br />
Good fortune. No blame.
</p>
