<h3>Lu / Treading [Conduct]</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/lu.png" alt="Lu / Treading [Conduct]" /></td>
<td><p>above</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Treading. Treading upon the tail of the tiger.
<br />
It does not bite the man. Success.
</p>
<h3>The Image</h3>
<p>Heaven above, the lake below:
<br />
The image of Treading.
<br />
Thus the superior man discriminates between high and low,
<br />
And thereby fortifies the thinking of the people.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Simple conduct. Progress without blame.
</p>
<p><i>Nine in the second place means:</i>
<br />
Treading a smooth, level course.
<br />
The perseverance of a dark man
<br />
Brings good fortune.
</p>
<p class="mark"><i>Six in the third place means:</i>
<br />
A one-eyed man is able to see,
<br />
A lame man is able to tread.
<br />
He treads on the tail of the tiger.
<br />
The tiger bites the man.
<br />
Misfortune.
<br />
Thus does a warrior act on behalf of his great prince.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
He treads on the tail of the tiger.
<br />
Caution and circumspection
<br />
Lead ultimately to good fortune.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
Resolute conduct.
<br />
Perseverance with awareness of danger.
</p>
<p><i>Nine at the top means:</i>
<br />
Look to your conduct and weigh the favorable signs.
<br />
When everything is fulfilled, supreme good fortune comes.
</p>
