<h3>Meng / Youthful Folly</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/meng.png" alt="Meng / Youthful Folly" /></td>
<td><p>above</p></td>
<td><p>Ken    Keeping Still, Mountain</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Youthful Folly has success.
<br />
It is not I who seek the young fool;
<br />
The young fool seeks me.
<br />
At the first oracle I inform him.
<br />
If he asks two or three times, it is importunity.
<br />
If he importunes, I give him no information.
<br />
Perseverance furthers.
</p>
<h3>The Image</h3>
<p>A spring wells up at the foot of the mountain:
<br />
The image of Youth.
<br />
Thus the superior man fosters his character
<br />
By thoroughness in all that he does.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
To make a fool develop
<br />
It furthers one to apply discipline.
<br />
The fetters should be removed.
<br />
To go on in this way brings humiliation.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
To bear with fools in kindliness brings good fortune.
<br />
To know how to take women
<br />
Brings good fortune.
<br />
The son is capable of taking charge of the household.
</p>
<p><i>Six in the third place means:</i>
<br />
Take not a maiden who, when she sees a man of bronze,
<br />
Loses possession of herself.
<br />
Nothing furthers.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Entangled folly brings humiliation.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Childlike folly brings good fortune.
</p>
<p><i>Nine at the top means:</i>
<br />
In punishing folly
<br />
It does not further one
<br />
To commit transgressions.
<br />
The only thing that furthers
<br />
Is to prevent transgressions.
</p>
