<h3>Ming I / Darkening of the Light</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ming_i.png" alt="Ming I / Darkening of the Light" /></td>
<td><p>above</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Darkening of the Light. In adversity
<br />
It furthers one to be persevering.
</p>
<h3>The Image</h3>
<p>The light has sunk into the earth:
<br />
The image of Darkening of the Light.
<br />
Thus does the superior man live with the great mass:
<br />
He veils his light, yet still shines.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Darkening of the light during flight.
<br />
He lowers his wings.
<br />
The superior man does not eat for three days
<br />
On his wanderings.
<br />
But he has somewhere to go.
<br />
The host has occasion to gossip about him.
</p>
<p class="mark"><i>Six in the second place means:</i>
<br />
Darkening of the light injures him in the left thigh.
<br />
He gives aid with the strength of a horse.
<br />
Good fortune.
</p>
<p><i>Nine in the third place means:</i>
<br />
Darkening of the light during the hunt in the south.
<br />
Their great leader is captured.
<br />
One must not expect perseverance too soon.
</p>
<p><i>Six in the fourth place means:</i>
<br />
He penetrates the left side of the belly.
<br />
One gets at the very heart of the darkening of the light,
<br />
And leaves gate and courtyard.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Darkening of the light as with Prince Chi.
<br />
Perseverance furthers.
</p>
<p class="mark"><i>Six at the top means:</i>
<br />
Not light but darkness.
<br />
First he climbed up to heaven,
<br />
Then he plunged into the depths of the earth.
</p>
