<h3>P'i / Standstill [Stagnation]</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/p_i.png" alt="P'i / Standstill [Stagnation]" /></td>
<td><p>above</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Standstill. Evil people do not further
<br />
The perseverance of the superior man.
<br />
The great departs; the small approaches.
</p>
<h3>The Image</h3>
<p>Heaven and earth do not unite:
<br />
The image of Standstill.
<br />
Thus the superior man falls back upon his inner worth
<br />
In order to escape the difficulties.
<br />
He does not permit himself to be honored with revenue.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
When the ribbon grass is pulled up, the sod comes with it.
<br />
Each according to his kind.
<br />
Perseverance brings good fortune and success.
</p>
<p class="mark"><i>Six in the second place means:</i>
<br />
They bear and endure;
<br />
This means good fortune for inferior people.
<br />
The standstill serves to help the great man attain success.
</p>
<p><i>Six in the third place means:</i>
<br />
They bear shame.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
He who acts at the command of the highest
<br />
Remains without blame.
<br />
Those of like mind partake of the blessing.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
Standstill is giving way.
<br />
Good fortune for the great man.
<br />
"What if it should fail, what if it should fail?"
<br />
In this way, he ties it to a cluster of mulberry shoots.
</p>
<p><i>Nine at the top means:</i>
<br />
The standstill comes to an end.
<br />
First standstill, then good fortune.
</p>
