<h3>Pi / Holding Together [Union]</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/pi.png" alt="Pi / Holding Together [Union]" /></td>
<td><p>above</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Holding Together brings good fortune.
<br />
Inquire of the oracle once again
<br />
Whether you possess sublimity, constancy, and perseverance;
<br />
Then there is no blame.
<br />
Those who are uncertain gradually join.
<br />
Whoever comes too late
<br />
Meets with misfortune.
</p>
<h3>The Image</h3>
<p>On the earth is water:
<br />
The image of Holding Together.
<br />
Thus the kings of antiquity
<br />
Bestowed the different states as fiefs
<br />
And cultivated friendly relations
<br />
With the feudal lords.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
Hold to him in truth and loyalty;
<br />
This is without blame.
<br />
Truth, like a full earthen bowl:
<br />
Thus in the end
<br />
Good fortune comes from without.
</p>
<p><i>Six in the second place means:</i>
<br />
Hold to him inwardly.
<br />
Perseverance brings good fortune.
</p>
<p><i>Six in the third place means:</i>
<br />
You hold together with the wrong people.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Hold to him outwardly also.
<br />
Perseverance brings good fortune.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
Manifestation of holding together.
<br />
In the hunt the king uses beaters on three sides only
<br />
And foregoes game that runs off in front.
<br />
The citizens need no warning.
<br />
Good fortune.
</p>
<p><i>Six at the top means:</i>
<br />
He finds no head for holding together.
<br />
Misfortune.
</p>
