<h3>Pi / Grace</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/pi_.png" alt="Pi / Grace" /></td>
<td><p>above</p></td>
<td><p>Ken    Keeping Still, Mountain</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Grace has success.
<br />
In small matters
<br />
It is favorable to undertake something.
</p>
<h3>The Image</h3>
<p>Fire at the foot of the mountain:
<br />
The image of Grace.
<br />
Thus does the superior man proceed
<br />
When clearing up current affairs.
<br />
But he dare not decide controversial issues in this way.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
He lends grace to his toes, leaves the carriage, and walks.
</p>
<p class="mark"><i>Six in the second place means:</i>
<br />
Lends grace to the beard on his chin.
</p>
<p><i>Nine in the third place means:</i>
<br />
Graceful and moist.
<br />
Constant perseverance brings good fortune.
</p>
<p><i>Six in the fourth place means:</i>
<br />
Grace or simplicity?
<br />
A white horse comes as if on wings.
<br />
He is not a robber,
<br />
He will woo at the right time.
</p>
<p><i>Six in the fifth place means:</i>
<br />
Grace in the hills and gardens.
<br />
The roll of silk is meager and small.
<br />
Humiliation, but in the end good fortune.
</p>
<p class="mark"><i>Nine at the top means:</i>
<br />
Simple grace. No blame.
</p>
