<h3>Po / Splitting Apart</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/po.png" alt="Po / Splitting Apart" /></td>
<td><p>above</p></td>
<td><p>Ken    Keeping Still, Mountain</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Splitting Apart. It does not further one
<br />
To go anywhere.
</p>
<h3>The Image</h3>
<p>The mountain rests upon the earth:
<br />
The image of Splitting Apart.
<br />
Thus those above can insure their position
<br />
Only by giving generously to those below.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
The leg of the bed is split.
<br />
Those who persevere are destroyed.
<br />
Misfortune.
</p>
<p><i>Six in the second place means:</i>
<br />
The bed is split at the edge.
<br />
Those who persevere are destroyed.
<br />
Misfortune.
</p>
<p><i>Six in the third place means:</i>
<br />
He splits with them. No blame.
</p>
<p><i>Six in the fourth place means:</i>
<br />
The bed is split up to the skin.
<br />
Misfortune.
</p>
<p><i>Six in the fifth place means:</i>
<br />
A shoal of fishes. Favor comes through the court ladies.
<br />
Everything acts to further.
</p>
<p class="mark"><i>Nine at the top means:</i>
<br />
There is a large fruit still uneaten.
<br />
The superior man receives a carriage.
<br />
The house of the inferior man is split apart.
</p>
