<h3>Sheng / Pushing Upward</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/sheng.png" alt="Sheng / Pushing Upward" /></td>
<td><p>above</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Sun    The Gentle, Wind</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Pushing upward has supreme success.
<br />
One must see the great man.
<br />
Fear not.
<br />
Departure toward the south
<br />
Brings good fortune.
</p>
<h3>The Image</h3>
<p>Within the earth, wood grows:
<br />
The image of Pushing Upward.
<br />
Thus the superior man of devoted character
<br />
Heaps up small things
<br />
In order to achieve something high and great.
</p>
<h3>The Lines</h3>
<p class="mark"><i>Six at the beginning means:</i>
<br />
Pushing upward that meets with confidence
<br />
Brings great good fortune.
</p>
<p><i>Nine in the second place means:</i>
<br />
If one is sincere,
<br />
It furthers one to bring even a small offering.
<br />
No blame.
</p>
<p><i>Nine in the third place means:</i>
<br />
One pushes upward into an empty city.
</p>
<p><i>Six in the fourth place means:</i>
<br />
The king offers him Mount Ch'i.
<br />
Good fortune. No blame.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Perseverance brings good fortune.
<br />
One pushes upward by steps.
</p>
<p><i>Six at the top means:</i>
<br />
Pushing upward in darkness.
<br />
It furthers one
<br />
to be unremittingly persevering.
</p>
