<h3>Shih Ho / Biting Through</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/shih_ho.png" alt="Shih Ho / Biting Through" /></td>
<td><p>above</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Biting Through has success.
<br />
It is favorable to let justice be administered.
</p>
<h3>The Image</h3>
<p>Thunder and lightning:
<br />
The image of Biting Through.
<br />
Thus the kings of former times made firm the laws
<br />
Through clearly defined penalties.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
His feet are fastened in the stocks,
<br />
So that his toes disappear.
<br />
No blame.
</p>
<p><i>Six in the second place means:</i>
<br />
Bites through tender meat,
<br />
So that his nose disappears.
<br />
No blame.
</p>
<p><i>Six in the third place means:</i>
<br />
Bites on old dried meat
<br />
And strikes on something poisonous.
<br />
Slight humiliation. No blame.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
Bites on dried gristly meat.
<br />
Receives metal arrows.
<br />
It furthers one to be mindful of difficulties
<br />
And to be persevering.
<br />
Good fortune.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Bites on dried lean meat.
<br />
Receives yellow gold.
<br />
Perseveringly aware of danger.
<br />
No blame.
</p>
<p><i>Nine at the top means:</i>
<br />
His neck is fastened in the wooden cangue,
<br />
So that his ears disappear.
<br />
Misfortune.
</p>
