<h3>Shih / The Army</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/shih.png" alt="Shih / The Army" /></td>
<td><p>above</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Army. The army needs perseverance
<br />
And a strong man.
<br />
Good fortune without blame.
</p>
<h3>The Image</h3>
<p>In the middle of the earth is water:
<br />
The image of The Army.
<br />
Thus the superior man increases his masses
<br />
By generosity toward the people.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
An army must set forth in proper order.
<br />
If the order is not good, misfortune threatens.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
In the midst of the army.
<br />
Good fortune. No blame.
<br />
The king bestows a triple decoration.
</p>
<p><i>Six in the third place means:</i>
<br />
Perchance the army carries corpses in the wagon.
<br />
Misfortune.
</p>
<p><i>Six in the fourth place means:</i>
<br />
The army retreats. No blame.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
There is game in the field.
<br />
It furthers one to catch it.
<br />
Without blame.
<br />
Let the eldest lead the army.
<br />
The younger transports corpses;
<br />
Then perseverance brings misfortune.
</p>
<p><i>Six at the top means:</i>
<br />
The great prince issues commands,
<br />
Founds states, vests families with fiefs.
<br />
Inferior people should not be employed.
</p>
