<h3>Sung / Conflict</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/sung.png" alt="Sung / Conflict" /></td>
<td><p>above</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Conflict. You are sincere
<br />
And are being obstructed.
<br />
A cautious halt halfway brings good fortune.
<br />
Going through to the end brings misfortune.
<br />
It furthers one to see the great man.
<br />
It does not further one to cross the great water.
</p>
<h3>The Image</h3>
<p>Heaven and water go their opposite ways:
<br />
The image of Conflict.
<br />
Thus in all his transactions the superior man
<br />
Carefully considers the beginning.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
If one does not perpetuate the affair,
<br />
There is little gossip.
<br />
In the end, good fortune comes.
</p>
<p><i>Nine in the second place means:</i>
<br />
One cannot engage in conflict;
<br />
One returns home, gives way.
<br />
The people of his town,
<br />
Three hundred households,
<br />
Remain free of guilt.
</p>
<p><i>Six in the third place means:</i>
<br />
To nourish oneself on ancient virtue induces perseverance.
<br />
Danger. In the end, good fortune comes.
<br />
If by chance you are in the service of a king,
<br />
Seek not works.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
One cannot engage in conflict.
<br />
One turns back and submits to fate,
<br />
Changes one's attitude,
<br />
And finds peace in perseverance.
<br />
Good fortune.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
To contend before him
<br />
Brings good fortune.
</p>
<p><i>Nine at the top means:</i>
<br />
Even if by chance a leather belt is bestowed on one,
<br />
By the end of morning
<br />
It will have been snatched away three times.
</p>
