<h3>T'ai / Peace</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/t_ai.png" alt="T'ai / Peace" /></td>
<td><p>above</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Peace. The small departs,
<br />
The great approaches.
<br />
Good fortune. Success.
</p>
<h3>The Image</h3>
<p>Heaven and earth unite: the image of Peace.
<br />
Thus the ruler
<br />
Divides and completes the course of heaven and earth;
<br />
He furthers and regulates the gifts of heaven and earth,
<br />
And so aids the people.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
When ribbon grass is pulled up, the sod comes with it.
<br />
Each according to his kind.
<br />
Undertakings bring good fortune.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
Bearing with the uncultured in gentleness,
<br />
Fording the river with resolution,
<br />
Not neglecting what is distant,
<br />
Not regarding one's companions:
<br />
Thus one may manage to walk in the middle.
</p>
<p><i>Nine in the third place means:</i>
<br />
No plain not followed by a slope.
<br />
No going not followed by a return.
<br />
He who remains persevering in danger
<br />
Is without blame.
<br />
Do not complain about this truth;
<br />
Enjoy the good fortune you still possess.
</p>
<p><i>Six in the fourth place means:</i>
<br />
He flutters down, not boasting of his wealth,
<br />
Together with his neighbor,
<br />
Guileless and sincere.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
The sovereign I
<br />
Gives his daughter in marriage.
<br />
This brings blessing
<br />
And supreme good fortune.
</p>
<p><i>Six at the top means:</i>
<br />
The wall falls back into the moat.
<br />
Use no army now.
<br />
Make your commands known within your own town.
<br />
Perseverance brings humiliation.
</p>
