<h3>T'ung Jen / Fellowship with Men</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/t_ung_jen.png" alt="T'ung Jen / Fellowship with Men" /></td>
<td><p>above</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Fellowship with Men in the open.
<br />
Success.
<br />
It furthers one to cross the great water.
<br />
The perseverance of the superior man furthers.
</p>
<h3>The Image</h3>
<p>Heaven together with fire:
<br />
The image of Fellowship with Men.
<br />
Thus the superior man organizes the clans
<br />
And makes distinctions between things.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Fellowship with men at the gate.
<br />
No blame.
</p>
<p class="mark"><i>Six in the second place means:</i>
<br />
Fellowship with men in the clan.
<br />
Humiliation.
</p>
<p><i>Nine in the third place means:</i>
<br />
He hides weapons in the thicket;
<br />
He climbs the high hill in front of it.
<br />
For three years he does not rise up.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
He climbs up on his wall; he cannot attack.
<br />
Good fortune.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
Men bound in fellowship first weep and lament,
<br />
But afterward the laugh.
<br />
After great struggles they succeed in meeting.
</p>
<p><i>Nine at the top means:</i>
<br />
Fellowship with men in the meadow.
<br />
No remorse.
</p>
