<h3>Ta Ch'u / The Taming Power of the Great</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ta_ch_u.png" alt="Ta Ch'u / The Taming Power of the Great" /></td>
<td><p>above</p></td>
<td><p>Ken    Keeping Still, Mountain</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Taming Power of the Great.
<br />
Perseverance furthers.
<br />
Not eating at home brings good fortune.
<br />
It furthers one to cross the great water.
</p>
<h3>The Image</h3>
<p>Heaven within the mountain:
<br />
The image of The Taming Power of the Small.
<br />
Thus the superior man acquaints himself with many sayings of antiquity
<br />
And many deeds of the past,
<br />
In order to strengthen his character thereby.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Danger is at hand. It furthers one to desist.
</p>
<p><i>Nine in the second place means:</i>
<br />
The axletrees are taken from the wagon.
</p>
<p><i>Nine in the third place means:</i>
<br />
A good horse that follows others.
<br />
Awareness of danger,
<br />
With perseverance, furthers.
<br />
Practice chariot driving and armed defense daily.
<br />
It furthers one to have somewhere to go.
</p>
<p><i>Six in the fourth place means:</i>
<br />
The headboard of a young bull.
<br />
Great good fortune.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
The tusk of a gelded boar.
<br />
Good fortune.
</p>
<p class="mark"><i>Nine at the top means:</i>
<br />
One attains the way of heaven. Success.
</p>
