<h3>Ting / The Cauldron</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ting.png" alt="Ting / The Cauldron" /></td>
<td><p>above</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Sun    The Gentle, Wind</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Cauldron. Supreme good fortune.
<br />
Success.
</p>
<h3>The Image</h3>
<p>Fire over wood:
<br />
The image of The Cauldron.
<br />
Thus the superior man consolidates his fate
<br />
By making his position correct.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
A ting with legs upturned.
<br />
Furthers removal of stagnating stuff.
<br />
One takes a concubine for the sake of her son.
<br />
No blame.
</p>
<p><i>Nine in the second place means:</i>
<br />
There is food in the ting.
<br />
My comrades are envious,
<br />
But they cannot harm me.
<br />
Good fortune.
</p>
<p><i>Nine in the third place means:</i>
<br />
The handle of the ting is altered.
<br />
One is impeded in his way of life.
<br />
The fat of the pheasant is not eaten.
<br />
Once rain falls, remorse is spent.
<br />
Good fortune comes in the end.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
The legs of the ting are broken.
<br />
The prince's meal is spilled
<br />
And his person is soiled.
<br />
Misfortune.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
The ting has yellow handles, golden carrying rings.
<br />
Perseverance furthers.
</p>
<p class="mark"><i>Nine at the top means:</i>
<br />
The ting has rings of jade.
<br />
Great good fortune.
<br />
Nothing that would not act to further.
</p>
