<h3>Ts'ui / Gathering Together [Massing]</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/ts_ui.png" alt="Ts'ui / Gathering Together [Massing]" /></td>
<td><p>above</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Gathering Together. Success.
<br />
The king approaches his temple.
<br />
It furthers one to see the great man.
<br />
This brings success. Perseverance furthers.
<br />
To bring great offerings creates good fortune.
<br />
It furthers one to undertake something.
</p>
<h3>The Image</h3>
<p>Over the earth, the lake:
<br />
The image of Gathering Together.
<br />
Thus the superior man renews his weapons
<br />
In order to meet the unforeseen.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
If you are sincere, but not to the end,
<br />
There will sometimes be confusion, sometimes gathering together.
<br />
If you call out,
<br />
Then after one grasp of the hand you can laugh again.
<br />
Regret not. Going is without blame.
</p>
<p><i>Six in the second place means:</i>
<br />
Letting oneself be drawn
<br />
Brings good fortune and remains blameless.
<br />
If one is sincere,
<br />
It furthers one to bring even a small offering.
</p>
<p><i>Six in the third place means:</i>
<br />
Gathering together amid sighs.
<br />
Nothing that would not further.
<br />
Going is without blame.
<br />
Slight humiliation.
</p>
<p class="mark"><i>Nine in the fourth place means:</i>
<br />
Great good fortune. No blame.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
If in gathering together one has position,
<br />
This brings no blame.
<br />
If there are some who are not yet sincere in the work,
<br />
Sublime and enduring perseverance is needed.
<br />
Then remorse disappears.
</p>
<p><i>Six at the top means:</i>
<br />
Lamenting and sighing, floods of tears.
<br />
No blame.
</p>
