<h3>Tui / The Joyous, Lake</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/tui.png" alt="Tui / The Joyous, Lake" /></td>
<td><p>above</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Tui    The Joyous, Lake</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>The Joyous. Success.
<br />
Perseverance is favorable.
</p>
<h3>The Image</h3>
<p>Lakes resting on one another:
<br />
The image of the Joyous.
<br />
Thus the superior man joins with his friends
<br />
For discussion and practice.
</p>
<h3>The Lines</h3>
<p><i>Nine at the beginning means:</i>
<br />
Contented joyousness. Good fortune.
</p>
<p class="mark"><i>Nine in the second place means:</i>
<br />
Sincere joyousness. Good fortune.
<br />
Remorse disappears.
</p>
<p class="mark"><i>Six in the third place means:</i>
<br />
Coming joyousness. Misfortune.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
Joyousness that is weighed is not at peace.
<br />
After ridding himself of mistakes a man has joy.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
Sincerity toward disintegrating influences is dangerous.
</p>
<p class="mark"><i>Six at the top means:</i>
<br />
Seductive joyousness.
</p>
