<h3>Wei Chi / Before Completion</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/wei_chi.png" alt="Wei Chi / Before Completion" /></td>
<td><p>above</p></td>
<td><p>Li     The Clinging, Flame</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'an   The Abysmal, Water</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Before Completion. Success.
<br />
But if the little fox, after nearly completing the crossing,
<br />
Gets his tail in the water,
<br />
There is nothing that would further.
</p>
<h3>The Image</h3>
<p>Fire over water:
<br />
The image of the condition before transition.
<br />
Thus the superior man is careful
<br />
In the differentiation of things,
<br />
So that each finds its place.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
He gets his tail in the water.
<br />
Humiliating.
</p>
<p><i>Nine in the second place means:</i>
<br />
He brakes his wheels.
<br />
Perseverance brings good fortune.
</p>
<p><i>Six in the third place means:</i>
<br />
Before completion, attack brings misfortune.
<br />
It furthers one to cross the great water.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
Perseverance brings good fortune.
<br />
Remorse disappears.
<br />
Shock, thus to discipline the Devil's Country.
<br />
For three years, great realms are awarded.
</p>
<p class="mark"><i>Six in the fifth place means:</i>
<br />
Perseverance brings good fortune.
<br />
No remorse.
<br />
The light of the superior man is true.
<br />
Good fortune.
</p>
<p><i>Nine at the top means:</i>
<br />
There is drinking of wine
<br />
In genuine confidence. No blame.
<br />
But if one wets his head,
<br />
He loses it, in truth.
</p>
