<h3>Wu Wang / Innocence (The Unexpected)</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/wu_wang.png" alt="Wu Wang / Innocence (The Unexpected)" /></td>
<td><p>above</p></td>
<td><p>Ch'ien The Creative, Heaven</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Innocence. Supreme success.
<br />
Perseverance furthers.
<br />
If someone is not as he should be,
<br />
He has misfortune,
<br />
And it does not further him
<br />
To undertake something.
</p>
<h3>The Image</h3>
<p>Under heaven thunder rolls:
<br />
All things attain the natural state of innocence.
<br />
Thus the kings of old,
<br />
Rich in virtue, and in harmony with the time,
<br />
Fostered and nourished all beings.
</p>
<h3>The Lines</h3>
<p class="mark"><i>Nine at the beginning means:</i>
<br />
Innocent behavior brings good fortune.
</p>
<p><i>Six in the second place means:</i>
<br />
If one does not count on the harvest while plowing,
<br />
Nor on the use of the ground while clearing it,
<br />
It furthers one to undertake something.
</p>
<p><i>Six in the third place means:</i>
<br />
Undeserved misfortune.
<br />
The cow that was tethered by someone
<br />
Is the wanderer's gain, the citizen's loss.
</p>
<p><i>Nine in the fourth place means:</i>
<br />
He who can be persevering
<br />
Remains without blame.
</p>
<p class="mark"><i>Nine in the fifth place means:</i>
<br />
Use no medicine in an illness
<br />
Incurred through no fault of your own.
<br />
It will pass of itself.
</p>
<p><i>Nine at the top means:</i>
<br />
Innocent action brings misfortune.
<br />
Nothing furthers.
</p>
