<h3>Yu / Enthusiasm</h3>
<table class="table table-borderless d-inline-flex">
<tr>
<td rowspan="2"><img src="images/yu.png" alt="Yu / Enthusiasm" /></td>
<td><p>above</p></td>
<td><p>Chen   The Arousing, Thunder</p></td>
</tr>
<tr>
<td><p>below</p></td>
<td><p>K'un   The Receptive, Earth</p></td>
</tr>
</table>
<h3>The Judgement</h3>
<p>Enthusiasm. It furthers one to install helpers
<br />
And to set armies marching.
</p>
<h3>The Image</h3>
<p>Thunder comes resounding out of the earth:
<br />
The image of Enthusiasm.
<br />
Thus the ancient kings made music
<br />
In order to honor merit,
<br />
And offered it with splendor
<br />
To the Supreme Deity,
<br />
Inviting their ancestors to be present.
</p>
<h3>The Lines</h3>
<p><i>Six at the beginning means:</i>
<br />
Enthusiasm that expresses itself
<br />
Brings misfortune.
</p>
<p><i>Six in the second place means:</i>
<br />
Firm as a rock. Not a whole day.
<br />
Perseverance brings good fortune.
</p>
<p><i>Six in the third place means:</i>
<br />
Enthusiasm that looks upward creates remorse.
<br />
Hesitation brings remorse.
</p>
<p class="mark"><i>Nine in the fourth place means:</i>
<br />
The source of enthusiasm.
<br />
He achieves great things.
<br />
Doubt not.
<br />
You gather friends around you
<br />
As a hair clasp gathers the hair.
</p>
<p><i>Six in the fifth place means:</i>
<br />
Persistently ill, and still does not die.
</p>
<p><i>Six at the top means:</i>
<br />
Deluded enthusiasm.
<br />
But if after completion one changes,
<br />
There is no blame.
</p>
